@require 'variables'

@require "signature"
@require "registration"
@require "overview"

main
  color black
  font-family 'Ubuntu', sans
  min-width 286px

body
  background color_light
  -webkit-overflow-scrolling touch

h1
  font-family: 'Rock Salt', cursive;

.clickable
  cursor pointer
  z-index 15

  &:hover
    color color_primary
