#user-overview
  display block
  width 100%
  text-align center
  
  h1
    margin auto
    display inline-flex
    
  .new-button
    margin 2em 0
    
    &:hover
      cursor pointer
    
  .persons
      
    .person
      padding 1em
      display inline-block
      width 30%
      
      &:hover
        background color_dark
        cursor pointer
        border-radius 1rem
      
      .person-image
        border-radius 100%
        margin-bottom 1em
        
        >img
          height 10rem
          width 10rem
    
    
 