#user-registration
  display inline-block
  
  > .header
    display flex
    margin-bottom 3em
      
    > h1
      margin auto
      display inline-flex
  
  .input-form
    padding 0 30%
    transition all 300ms ease-out
    min-height 15em
    
    &.close
      min-height 0
      height 0
      overflow hidden
      
    .radio-input
      margin 1em 0
    
    .input-group
      padding 1em 0
      
      > span
        background color_primary
    
  .form-buttons
    text-align center
    padding 0 30%
    margin-bottom 2em
    
    > button
      margin 1em
      opacity 1
      transition all 300ms ease-out
      
      .hidden
        opacity 0